<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div class="my-4">
    <form role="form" action="/reservation" method="post">

        <!--시연 끝나고 삭제-->
        <div class="form-group">
            <label>사진관명</label>
            <select class="form-control">
                <option value="">사진관선택</option>
                <option>우리동네 사진관</option>
            </select>
        </div>


        <div class="form-group">
            <label for="item">상품명</label>
            <select name="itemId" id="item" class="form-control">
                <option value="">상품선택</option>
                <option th:each="item : ${items}"
                        th:value="${item.id}"
                        th:text="${item.name}" />
            </select>
        </div>
        <div class="form-group">
            <label for="date">날짜</label>
            <input type="date" class="form-control" id="date" name="date"
                   th:value="${#calendars.format(#calendars.createNow(), 'yyyy-MM-dd')}"
                    th:min="${#calendars.format(#calendars.createNow(), 'yyyy-MM-dd')}">

            <label for="time">시간</label>
            <select name="time" id="time" class="form-control">
                <option value="">시간 선택</option>
                <option th:each="time : ${time}"
                        th:value="${time}"
                        th:text="${time}"/>
            </select>
        </div>
        <div class="form-group">
            <label th:for="member" class="font-weight-bold">예약회원정보</label>
            <br>
            <input type="hidden" th:field="${member.id}" >
            <label th:for="memberName">예약자 이름</label>
            <input type="text" th:field="${member.name}" class="form-control"
                   placeholder="예약자명을 입력하세요" readonly>
            <label th:for="phone">예약자 전화번호</label>
            <input type="text" th:field="${member.phone}" class="form-control"
                   placeholder="예약 후 연락 드릴 번호를 입력하세요">
        </div>
        <div class="form-group">
            <label for="inputname">입금자명</label>
            <input type="text" name="inputname" class="form-control" id="inputname"
                   placeholder="입금자 명을 입력하세요">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    </div>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>